language: c
os:
    - linux
    - osx
compiler:
    - gcc
    - clang
addons:
    apt:
        packages:
            - tree
            - pkg-config
            - libglib2.0-0
            - libglib2.0-dev
before_install:
    - export CC="${CC}"
    - export TEST_PREFIX="$(pwd)/testprefix"
    - source ./testsuite/travis-ci.bash
    - test "${TRAVIS_OS_NAME}" = "osx" && chmod -R 755 /usr/local; true
    - test "${TRAVIS_OS_NAME}" = "osx" && brew update; true
    - test "${TRAVIS_OS_NAME}" = "osx" && brew install tree pkg-config glib; true
    - test "${TRAVIS_OS_NAME}" = "osx" && test "${CC}" = "gcc" && rm /usr/local/include/c++; true
    - test "${TRAVIS_OS_NAME}" = "osx" && test "${CC}" = "gcc" && brew install gcc49; true
    - test "${TRAVIS_OS_NAME}" = "osx" && test "${CC}" = "gcc" && ln -s /usr/local/bin/gcc-4.9 /usr/local/bin/gcc; true
    - test "${TRAVIS_OS_NAME}" = "osx" && test "${CC}" = "gcc" && ln -s /usr/local/bin/g++-4.9 /usr/local/bin/g++; true
    - test "${TRAVIS_OS_NAME}" = "osx" && test "${CC}" = "gcc" && export PATH="/usr/local/bin:${PATH}"; true
script:
    - test "${TRAVIS_OS_NAME}" != "osx" && make coverage-gcov; true
    - make clean
    - install_bin "${CC}" "${TEST_PREFIX}"
    - cleanup "${TEST_PREFIX}"
    - install_cows "${CC}" "${TEST_PREFIX}"
    - cleanup "${TEST_PREFIX}"
    - install_cows_asciiart "${CC}" "${TEST_PREFIX}"
    - cleanup "$TEST_PREFIX"
    - install_cows_pixelart "${CC}" "${TEST_PREFIX}"
    - cleanup "${TEST_PREFIX}"
    - install_man "${CC}" "${TEST_PREFIX}"
    - cleanup "${TEST_PREFIX}"
    - install_zsh_compdef "${CC}" "${TEST_PREFIX}"
    - cleanup "${TEST_PREFIX}"
    - install_all "${CC}" "${TEST_PREFIX}"
    - ${TEST_PREFIX}/bin/clangsay --version
    - uname -a | ${TEST_PREFIX}/bin/clangsay -f yasuna_07.cow
    - ls -lF | ${TEST_PREFIX}/bin/clangsay -f zen-noh-milk.cow
    - ls -lF | ${TEST_PREFIX}/bin/clangsay -R 32 -f zen-noh-milk.cow
    - ${TEST_PREFIX}/bin/clangsay --list
    - ${TEST_PREFIX}/bin/clangsay --help
    - rm -r "${TEST_PREFIX}"
